/* Bingo.css */
.bingo-board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 1px;
  margin: 20px auto;
  margin-left: -200px;
  margin-top: 0px;
  width: 100%; /* Ajuste para responsividad */
  height: auto; /* Ajuste para responsividad */
  border: 2px solid #333;
  background-color: #333;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
  background-color: #000000;
  border: 1px solid #cccccc;
  font-size: 1.8em;
  position: relative;
  box-sizing: border-box;
}

.cell.marked span {
  color: gold;
  animation: grow-shrink 0.5s ease;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.last-marked-numbers {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.last-number {
  background-color: black;
  font-weight: bold;
  color: gold;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.8em;
  min-width: 25%;
}

.recent {
  animation: highlight 1s ease-out;
}

@keyframes highlight {
  0% {
    transform: scale(1);
    background-color: black;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.transition-right {
  animation: move-right 0.5s ease-out;
}

@keyframes move-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

#current-number {
  background-image: url('../imagenes/bingo2.png');
  background-size: cover;
  background-position: center;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68%;
  width: 90%;
  font-size: 6.5rem; /* Ajuste para responsividad */
  font-weight: bold;
  margin-top: 50px;
}

/* Media Queries para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
  #titulo {
    font-size: 70px;
  }

  .last-number {
    font-size: 1.5em;
  }

  #current-number {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  #titulo {
    font-size: 50px;
  }

  .last-number {
    font-size: 1.2em;
  }

  #current-number {
    font-size: 1.5rem;
  }

  .anchoBotones {
    width: 60%;
  }
}

@media (max-width: 576px) {
  #titulo {
    font-size: 30px;
  }

  .last-number {
    font-size: 1em;
  }

  #current-number {
    font-size: 1rem;
  }

  .anchoBotones {
    width: 80%;
  }
}
