@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/index.css o el archivo CSS global */
body {
    background-image: url('./assets/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
