@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

body {
    background-image: url('./assets/Fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

#bingoBall{
    background-image: url('./assets/BaLL.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pozo{
    background-image: url('./assets/Pozo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#lastNumber{
    background-image: url('./assets/Bolas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@keyframes scaleUpDown {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    80% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.animate-scale {
    animation: scaleUpDown 1.5s ease-in-out;
}

@keyframes scaleUpDown {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.animate-scale2 {
    animation:scaleUpDown 0.5s ease-in-out;
}



@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.2);
    }
}

.animate-enlarge {
    animation: enlarge 0.8s forwards;
}